<section class="section section-home-bmi pt-64">
    <div class="container">
        <div class="bmi-wrapper">
            <div class="row align-items-center">
                <div class="col-lg-6 background-image m-b-md-5">
                    <div class="stripe-vector">
                        <img src="../../../../../assets/image/stripe-grey.svg" alt="Tập luyện tại hệ thống CITIGYM">
                    </div>
                    <div class="w-100 d-flex justify-content-center align-items-center">
                        <img class="w-75" src="../../../../../assets/image/bmi-text.png">
                    </div>
                </div>
                <div class="col-lg-6" style="z-index: 20">
                    <h3 class="text-success fw-bold">Thông tin thể trạng</h3>
                    <p class="form-group">Bạn vui lòng điền chính xác thông tình thể trạng cơ thể của nhé !</p>
                    <form >
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="height" placeholder="Chiều cao / cm">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="weight" placeholder="Cân nặng / kg">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="age" placeholder="Tuổi">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <select class="form-control" name="gender">
                                        <option value="">Giới tính</option>
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success w-100">Nhận kết quả</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>