<section>
  <div class="container">
    <div class="card border-0 shadow mb-3">
      <div class="card-body py-4">
        <h4 class="display-5 fw-bold text-center text-success fw-bold mb-4">
          Pharmartist
        </h4>
        <div class="d-flex justify-content-between row mb-3">
          <div class="col-lg-6 col-ms-12">
            <div class="text-center">
              <h4 class="mb-2 fs-5 text-success">
                Những thông tin cần cung cấp
              </h4>
              <p>Họ và tên - Giới tính - Tuổi - Số điện thoại</p>
              <p>Triệu chứng bệnh - Bệnh nền - Thành phần dị ứng</p>
            </div>
          </div>
          <div class="col-lg-6 col-ms-12">
            <div class="text-center">
              <h4 class="text-success mb-2 fs-5 ">Ví dụ</h4>
              <div class="audio-container mx-auto" style="max-width: 300px;">
                <app-audio-player></app-audio-player>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 d-flex justify-content-center align-items-center gap-2">
          <button class="btn btn-success" (click)="startRecording()">Khám mới</button>
          <button class="btn btn-outline-success" routerLink="/auth/login">Tái khám</button>
        </div>
        <div *ngIf="showRecorder">
          <h4 class="text-center mt-5 fw-bold text-uppercase text-success">
            Nhấn để ghi âm
          </h4>
          <div class="d-flex justify-content-center w-100 mt-3">
            <app-audio-recorder (fileUploaded)="onFileUploaded($event)"></app-audio-recorder>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-0 shadow text-center py-3">
      <div class="">
        <i class="fa-solid fa-circle-exclamation text-danger fs-5"></i>        
        <h3 class="text-danger">Bạn đang mâu thuẫn trong triệu chứng của bạn</h3>
        <div class="d-flex justify-content-center align-items-center gap-2">
          <button class="btn btn-secondary">Xác nhận đúng</button>
          <button class="btn btn-success">Ghi lại</button>
        </div>
      </div>
    </div>
  </div>
</section>
<ngx-spinner bdColor=" rgb(255,255,255)" size="medium" color="#198754" type="ball-clip-rotate-pulse"
  [fullScreen]="true">
  <p class="text-success w-100 mt-lg-5">Hệ thống đang xử lý...</p>
</ngx-spinner>
